.content{
    min-height: 80vh;
    display: grid;
    margin-top: 5.5rem;
    margin-bottom: 2rem;
    grid-template-columns: 1fr;
    grid-template-areas: "donator donator""info info";
    @include respond-to('medium'){
        grid-template-areas: "info donator";
        grid-template-columns: 60% 40%;        
    }
    &__ellipse {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        background: rgba(247, 250, 111, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        position: relative;

        @include respond-to('medium') {
            margin: 0;
        }

        &-image {
            width: 65%;
        }
        &-ribbon{
            width: 32%;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    &__animal-description{
        position: relative;
        grid-area: info;
        display: grid;
        max-height: 75vh;
        grid-template-columns: 1fr;
        row-gap: 0;
        &::-webkit-scrollbar{
            width: 3px;
        } 
        &::-webkit-scrollbar-track{
            background: #f0f0f0
        } 
        &::-webkit-scrollbar-thumb{
           background: rgba(0, 0, 0, 0.28);
        } 
        @include respond-to('medium') {

             overflow-y: scroll;
        }
        // &:after{
        //     content: "";
        //     position: absolute;
        //     top: 25px;
        //     right: 0;
        //     width: 3px;
        //     height: 400px;
        //     background: rgba(0, 0, 0, 0.28);
        //     display: none;
        //     @include respond-to('medium'){
        //         display: flex;
        //     }
        // }
        &-card{
            background: rgba(214, 244, 252, 0.27);
            width: 95%;
            min-height: 272px;
            height: auto;
            position: relative;
            margin: 30px auto;
            border-radius: 5px;
            padding: 20px;
            @include respond-to('medium'){
                padding: 20px 15px 30px 30px;
                margin: 30px 0;
                height: 385px;
            }
            @include respond-to('large'){
                height: 272px;

            }
            &-star{
                position: absolute;
                top: -12px;
                 right: -19px;
                width: 65px;
                @include respond-to('medium'){
                    right: -30px;
                }
            }
            &-body{
                display: grid;
                grid-template-columns: 1fr;
                @include respond-to('medium'){
                    grid-template-columns: 37% 70%;
                }
                @include respond-to('large'){
                    grid-template-columns: 30% 65%;
                }
                @include respond-to('extra-large'){
                    grid-template-columns: 25% 70%;
                }
            }
            &-title, &-subtitle, &-text {
                max-width: 300px;
                color: #000;
                text-align: center;
                margin: auto;
                font: {
                    size: 30px;
                    family: $font2;
                    weight: normal;
                }
                @include respond-to('medium'){
                    text-align: left;
                }
                @include respond-to('large'){
                    max-width: 100%;
                }
            }
            &-subtitle{
                font-size: 18px;
            }
            &-text{
                width: 98%; 
                margin-top: 2rem;
                font-size: 20px;
            }
        }
    }
    
    &__donator{
        text-align: center;
        grid-area: donator;
        margin: 20px 0 5rem 0;
        @include respond-to('medium'){
            margin: 0
        }
        &-flex{
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
        &-ellipse {
           width: 134px;
           height: 134px;
        }
        &-name{
            margin-left: 10px;
            font: {
                size: 40px;
                family: $font2;
                weight: normal;
            }
        }

    }

}