.header{
    width: 100%;
    height: 95px;
    background: rgba(252, 223, 214, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
    @include respond-to('medium'){
        height: 153px;
    }
    &__logo{
        width: 50%;
        @include respond-to('medium'){
            width: 20%;
        }
    }
    &__menu{
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
        position: absolute;
        right: 20px;
        top: 15%;
        row-gap: 30px;
        transition: all .4s;
        border-radius: 10px;
        z-index: 1;
        @include respond-to('medium'){
            gap: 70px;
            margin-top: 0;
            height: auto;
            row-gap: 0;
            position: relative;
            top: auto;
            right: auto;
            grid-template-columns: 1fr 1fr 1fr;
        }
        &--hide{  
            height: 0;
            @include respond-to('medium') {
                height: auto;
            }
        }
        &--show{
            height: 270px;
            background: rgba(255,255,255,0.7)
        }
    }
    &__link{
       width: 100px;
       height: 70px;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
        color: #000;
        font: {
            size: 21px;
            family: $font
        }   
        @include respond-to('medium'){
            font-size: 30px;
            width: 130px;
            height: 112px;
        }     
    }
    &__icons{
        display: inline-flex;
        justify-content: center;
        margin: auto auto 0 26px;
        overflow: hidden;
        &-icon{
            width: 50px;
            @include respond-to('medium') {
                width: 70px;
            }
        }
        &-star {
            width: 20px;
            margin-left: -7px;
            margin-top: -22px;
            @include respond-to('medium'){
                width: 30px;
                margin-top: -40px;

            }
        }
    }

    &__mobile-button{
        display: flex;
        font-size: 40px;
        color: $pink;
        @include respond-to('medium'){
            display: none
        }
    }
}