.back-button{
    img {
        width: 15%;
    }
    @include respond-to('medium'){
        margin: 30px 0 0 26px;
        img{
            width: 80px;
        }
    }
}
.email{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    input{
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.22);
        background: transparent;
        width: 75vw;
        padding: 13px 9px;
        color: rgba(0, 0, 0, 0.55);
        &:focus{
            outline: none;
            box-shadow: none;
            border-bottom: 1px solid rgba(0, 0, 0, 1);
        }
        @include respond-to('medium'){
            width: 25vw;
        }
        font: {
            size: 19px;
            family: $font2;
        }

    }
    img{
        width: 12%;
        @include respond-to('medium'){
            width: 15%;
            margin-right: 6rem;
        }
    }
}
.logout{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000;
    font: {
        family: $font;
        size: 30px;
    }
    img{
        margin-right: 15px;
    }
}
.profile-content{
    display: flex;
    // margin-top: 2.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 100vh;
    @include respond-to('medium'){
        min-height: 72vh;
    }
    &__ellipse {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        background: rgba(247, 250, 111, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto auto 56px auto;
        position: relative;

        @include respond-to('medium') {
            margin: 0;
        }

        &-image {
            width: 70%;
        }

        &-ribbon {
            width: 25%;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        &-button{
            cursor: pointer;
            position: absolute;
            bottom: -35px;
            color: rgba(0, 0, 0, 0.55);
            font: {
                size: 21px;
                family: $font2;
            }
        }
    }
    &__user-info{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin: 30px auto 0 auto;
        justify-content: center;
        position: relative;
        @include respond-to('medium'){
            grid-template-columns: 25% 36%;
        }
        @include respond-to('large'){
            grid-template-columns: 21% 36%;
        }
        @include respond-to('extra-large'){
            grid-template-columns: 16% 36%;
        }
        &.edit-page{
            margin: 0 auto 0 auto;
        }
            
    }

    &__header{
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        h2{margin: 0}
        &-button {
            background: #D9ECFD;
            border-radius: 50px;
            padding: 3px 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 1px;
            color: #000;
            font: {
                family: $font;
                weight: bold;
                size: 17px
            }
            img{
                width: 30px;
                margin-left: 10px;
            }
        }
        &.edit-header{
            border-bottom: 1px solid rgba(0, 0, 0, 0.22);
            color: rgba(0, 0, 0, 0.55);
        }
    }
    &__body{
        &-bio{
            margin-top: 2rem;
            color: #000;
            font: {
                size: 21px;
                family: $font2;
                weight: normal;
            }
            @include respond-to('extra-large'){
                font-size: 26px;
            }
            &.edit{
                border-bottom: 1px solid rgba(0, 0, 0, 0.22);
                color: rgba(0, 0, 0, 0.55);
            }
        }
    }


    &__divider{
        height: 112px;
        background: rgba(253, 255, 151, 0.5);
        min-width: 100%;
        margin-top: 3rem;
        display: flex;
        align-items: center;
        &-afiliados{
            font: {
                family: $font3;
                size: 40px;
            }
        }
        .width{
            @include respond-to('large'){
                width: 55vw;
            }   
        }

    }

    &__afiliados-width{
        margin-bottom: 3rem;
        @include respond-to('large') {
            width: 55vw;
        }
    }
} 